#main {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 50px;
  justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  top: 73px;
  padding: 0 30px;
  padding-top: 25px;
  background-color: #f7f8fc;
}
